ColumnLimit: 100
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -2
IndentAccessModifiers: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
FixNamespaceComments: true
NamespaceIndentation: All
AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: true
AlignAfterOpenBracket: BlockIndent
SortIncludes: CaseSensitive
